<center>


<font>
<h1>LETS GET READY TO RUMBLE!</h1>
</font>
<font2>
<h2>Sign in to play</h2>
</font2>

<link rel='stylesheet' type='text/css' href='style.css'/>
 <form action="/names" method="post">
   <iframe src="//giphy.com/embed/T4YrIjNtJ7mRq" width="300" height="360" frameBorder="0" allowFullScreen></iframe><a  </a>
   <iframe src="//giphy.com/embed/iwMrCncQIib6M" width="300" height="360" frameBorder="0"  allowFullScreen></iframe><a </a>
   <iframe src="//giphy.com/embed/uMQQb9flS2CyY" width="300" height="360" frameBorder="0" allowFullScreen></iframe><a </a>
   <iframe src="//giphy.com/embed/12Q82YTFNu0OIg" width="300" height="360" frameBorder="0" allowFullScreen></iframe><a </a>
   <iframe src="//giphy.com/embed/1G5dIxnDYQlhe" width="300" height="360" frameBorder="0" allowFullScreen></iframe><a </a>

<p>
   <nav>
     <label for="player_1_name">

     Combatant 1

     <input type="text" name="player_1_name">
     </label>
  </nav>
  <nav2>
    <label for="player_2_name">

    Combatant 2

    <input type="text" name="player_2_name">
    </label>
  </nav2>
</p>
 <down>
    <input type="submit" value="LET'S RUMBLE">
 </down>

 </center>
 </form>
